body {
    background-color: #496A81;
}

.form-body {
    background-color: #496A81;
}

#sign-up-form {
    background-color: #496A81;
    color: #fff;
    width: 60rem;
    margin-top: 13em;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;

    .title-text {
        font-size: 50px;
        margin-left: 3.3em;
        margin-bottom: 1em;
    }

    .subscribe-button {
        margin-right: 560em;
        letter-spacing: 2px;
        font-size: 13px;
        text-transform: uppercase;
        z-index: 1;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
        color: #fff;
        background-color: #496A81;
        
        padding: 0.8rem 1.6rem;
        font-weight: bold;
        line-height: 1;
        width: 12em;
        height: 4em;
        border-radius: none;

        &:hover {
            background-color: #fff;
            color: #496A81;
            border-color: #496A81;
            transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
        }
        
    }
}