// COLORS
$primary-color: #496A81;
$secondary-color: #B3AF8F;

$white-color: #fff;

$dark-grey: #586168;
$light-grey: #66999B;

$dark-blue-text: #34314b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
